* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 79%;
}

.light {
  background-color: rgb(247, 243, 243);
  transition: all 0.5s;
}

.dark {
  background-color: rgb(50, 55, 65);
  transition: all 0.5s;
}

a {
  text-decoration: none;
}
